@page "{id}"
@model TopLearn.Web.Pages.Admin.Roles.DeleteRoleModel
@{
    ViewData["Title"] = "حذف نقش ";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> حذف نقش </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="container alert alert-danger">
    <form method="post">
        <input type="hidden" asp-for="Role.RoleId" />
        <input type="hidden" asp-for="Role.RoleTitel" />
        <h3>آیا از حذف نقش "@Model.Role.RoleTitel" مطمعن هستید ؟</h3>
        <br />
        <br />
        <p>
            <input type="submit" class="btn btn-danger btn-outline" value="حدف نقش" />
            <a href="/Admin/Roles" class="btn btn-info btn-outline">انصراف</a>
        </p>
    </form>
</div>