<!DOCTYPE html>
<html>
<head>
    <title></title>
     <link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.default.min.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="kendo.all.min.js"></script>
</head>
<body>
    
        <div id="example" class="k-content">
                <div style="margin-top: -6px; margin-left: 10px">
                    <input id="datepicker" value="1392/08/10" style="width:150px;" />
                </div>
        	<script>
            		$(document).ready(function() {
                
		// create DatePicker from input HTML element
                	$("#datepicker").kendoDatePicker();
	            });
        	</script>

        </div>
</body>
</html>