@page "{handler?}"
@model TopLearn.Web.Pages.Admin.Discount.CreateDiscountModel
@{
    ViewData["Title"] = "افزودن کد تخفیف جدید";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> افزودن کد تخفیف جدید</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <form method="post">


        <div class="col-md-8 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    کد تخفیف
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">


                    <div class="form-group">
                        <label>کد تخفیف : </label>
                        <input type="text" asp-for="Descount.DescountCode" class="form-control">
                        <span asp-validation-for="Descount.DescountCode" class="text-danger"></span>
                        <div id="alertCode" class="alert alert-danger" style="display:none">
                            <p class="text-muted">کد وارد شده معتبر نمیباشد !</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>درصد تخفیف : </label>
                                <input type="number" asp-for="Descount.DescountPercent" class="form-control">
                                <span asp-validation-for="Descount.DescountPercent" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label>تعداد استفاده از تخفیف : </label>
                                <input type="number" asp-for="Descount.UsableCount" class="form-control">
                                <span asp-validation-for="Descount.UsableCount" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>از تاریخ : </label>
                                <input id="stDate" name="stDate" />
                                <span asp-validation-for="Descount.StartDate" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label>تا تاریخ : </label>
                                <input id="edDate" name="edDate" />
                                <span asp-validation-for="Descount.EdnDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>



                    <br />
                    <p>
                        <input type="submit" value="ذخیره اطلاعات" class="btn btn-success btn-outline" />
                    </p>

                </div>
                <!-- /.panel-body -->
            </div>
        </div>

    </form>
</div>
@section Scripts{
    <script>
$("#Descount_DescountCode").blur(function() {
    $.ajax({
        type: "get",
        url:"/Admin/Discount/CreateDiscount/CheckCode?code="+$("#Descount_DescountCode").val()
    }).done(function(res){
        if (res === 'True') {
            $("#alertCode").show();
        }else{           
            $("#alertCode").hide();
        }
    })
})
    </script>

    <link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.default.min.css" rel="stylesheet" />

    <script src="/js/kendo.all.min.js"></script>
    <script>
        // create DatePicker from input HTML element
        $("#stDate").kendoDatePicker();
        $("#edDate").kendoDatePicker();
    </script>
}